.App {
  text-align: center;
}

#addMessageForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

#addMessageArea {
  height: 30px;
  margin: 10px;
}

.addMessageButton {
  height: 30px;
}

#oneMessage {
  width: 50%;
  align-content: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  border-radius: 15px;
  background-color: honeydew;
  margin: 20px auto;
  font-size: 20px;
  box-shadow: darkblue;
}

#allMessages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
}
